<h1 mat-dialog-title align="center">Nova Query</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>SQL</mat-label>
      <textarea matInput #sql formControlName="query" [maxLength]="4000"></textarea>
      <mat-hint align="end">{{sql.value?.length || 0}}/{{sql.maxLength}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput #description formControlName="description" [maxLength]="4000"></textarea>
      <mat-hint align="end">{{description.value?.length || 0}}/{{description.maxLength}}</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onOk()">Ok</button>
</div>
