<div class="section">
  <div class="header">
    <div class="title">
      Nova Query
    </div>
    <div class="extra">
      <button mat-raised-button [disabled]="loading" (click)="onSave()">Enviar para review</button>
    </div>
  </div>
  <div class="content">
    <div class="division">
      <div class="left">
        <mat-card>
          <mat-card-title>Detalhes</mat-card-title>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <form [formGroup]="form">
              <mat-form-field appearance="standard">
                <mat-label>Titulo</mat-label>
                <input type="text" matInput formControlName="title" [maxLength]="250">
              </mat-form-field>
              <mat-form-field appearance="standard">
                <mat-label>Descrição</mat-label>
                <textarea matInput #description formControlName="description" [maxLength]="4000"></textarea>
                <mat-hint align="end">{{description.value?.length || 0}}/{{description.maxLength}}</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="standard">
                <mat-label>SQL</mat-label>
                <textarea matInput #sql formControlName="query" [maxLength]="4000"></textarea>
                <mat-hint align="end">{{sql.value?.length || 0}}/{{sql.maxLength}}</mat-hint>
              </mat-form-field>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="right">
        <mat-card>
          <mat-card-title>Banco de Dados</mat-card-title>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <shared-data-source-select (onUpdated)="onDataSource($event)"></shared-data-source-select>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>Aprovadores</mat-card-title>
          <mat-divider inset></mat-divider>
          <mat-card-content>
            <div *ngIf="reviewers.length == 0">
              <p>Nenhum aprovador selecionado.</p>
            </div>
            <div class="role" *ngFor="let role of reviewers">
              <div class="button">
                <button mat-icon-button [disabled]="loading" (click)="onKick(role)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
              <div class="name">
                {{ role.name }}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button [disabled]="loading" (click)="onAdd()">Adicionar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
