<div class="section" *ngIf="data$ | async as data">
  <div class="header">
    <div class="title">
      Grupo de revisão: {{ data.name }}
    </div>
    <div class="extra">
      <button mat-raised-button aria-label="Add role to user" (click)="onAddUser()">
        <mat-icon>add</mat-icon>
        Adicionar usuário ao grupo
      </button>
    </div>
  </div>
  <div class="content">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="page.items">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
    
        <!-- Edit Column -->
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon aria-hidden="false" aria-label="More" fontIcon="more_horiz"></mat-icon>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="buttons">
              <button mat-icon-button (click)="onDeleteUserRole(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </div>
    
  </div>
</div>
