<div *ngIf="query$ | async as query" class="details">
  <div class="left">
    <div class="header">
      <div class="title">{{ query.title }}</div>
      <div class="extra">
        <span *ngIf="query.status === 'WAITING_REVIEW'" matTooltip="Aguardando aprovação">
          <i class="eva eva-2x eva-person-done-outline"></i>
        </span>
        <span *ngIf="query.status === 'APPROVED'" matTooltip="Aguardando execução">
          <i class="eva eva-2x eva-clock-outline"></i>
        </span>
        <span *ngIf="query.status === 'REJECTED'" matTooltip="Rejeitada">
          <i class="eva eva-2x eva-person-delete-outline"></i>
        </span>
        <span *ngIf="query.status === 'EXECUTING'" matTooltip="Executando">
          <i class="eva eva-2x eva-repeat-outline"></i>
        </span>
        <span *ngIf="query.status === 'DONE'" matTooltip="Executada com sucesso">
          <i class="eva eva-2x eva-checkmark-outline"></i>
        </span>
        <span *ngIf="query.status === 'ERROR'" matTooltip="Falha na execução">
          <i class="eva eva-2x eva-close-outline"></i>
        </span>
      </div>
    </div>
    <div class="content approval">
      <div class="submitter">
        <div class="user">
          <shared-user-details [user]="query.requester"></shared-user-details>
        </div>
        <div [matTooltip]="query.id | SnowflakeTime: 'full'" class="created">
          Criado {{ query.id | SnowflakeTime: 'relative' }}
        </div>
      </div>
      <div class="buttons">
        <button (click)="onReview(query, true)" *ngIf="query.status === 'WAITING_REVIEW'" color="accent"
                mat-raised-button>Aprovar
        </button>
        <button (click)="onReview(query, false)" *ngIf="query.status === 'WAITING_REVIEW'" color="warn"
                mat-raised-button>Rejeitar
        </button>
        <button (click)="onExecute(query)" *ngIf="query.status === 'APPROVED'" color="primary"
                mat-raised-button>Executar
        </button>
        <button (click)="onDownload(query)" *ngIf="query.status === 'DONE'" color="primary"
                mat-raised-button>Baixar Resultado
        </button>
      </div>
    </div>
    <div class="content description">
      <markdown
        [data]="query.description">
      </markdown>
    </div>
    <div *ngIf="query.status === 'ERROR'" class="content error">
      {{ query.error }}
    </div>
    <div *ngIf="query.status === 'DONE'" class="content success">
      <app-query-result [query]="query"></app-query-result>
    </div>
    <div class="content query">
      <code [highlight]="query.query" [lineNumbers]="true"></code>
    </div>
  </div>
  <div class="right">
    <div class="datasource">
      <div class="header">
        Banco de Dados
      </div>
      <div class="content">
        <div>
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
        <div>
          <a routerLink="/connections/{{ query.connection.id }}">
            {{ query.connection.name }}
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="reviews$ | async as reviews" class="approvers">
      <div class="header">
        Aprovadores
      </div>
      <div class="users">
        <div *ngFor="let review of reviews.items" class="user">
          <div class="icon">
            <i *ngIf="review.accepted"
               class="material-icons material-icons-outlined">check_circle</i>
            <i *ngIf="review.accepted == null"
               class="material-icons material-icons-outlined">circle</i>
            <i *ngIf="review.accepted == false"
               class="material-icons material-icons-outlined">cancel</i>
          </div>
          <div class="name">{{ review.user.name }}</div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
