<div class="container">
    <mat-toolbar>
        <span>Create user</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="createUser()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="userForm">
                        <mat-label>Name</mat-label>
                        <input matInput autocomplete="off" formControlName="userName">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="3">
                    <img src="../../../../../assets/img/user.png" width="150" height="150">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="userForm">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" formControlName="userEmail">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="userForm">
                        <mat-label>Group</mat-label>
                        <mat-select formControlName="userGroup">
                          <mat-option *ngFor="let group of groups" [value]="group.value">
                            {{group.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 20px;">Back</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add</button>
                </mat-grid-tile>
            </mat-grid-list>


        </form>
    </mat-card>

</div>
