<h1 mat-dialog-title>
  {{ existing ? 'Editar Grupo de Revisão' : 'Novo Grupo de Revisão' }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Salvar</button>
</div>
