<div class="section">
  <div class="header">
    <div class="title">
      Recentes
    </div>
    <div class="extra">
      <button mat-raised-button routerLink="/queries/create">
        <mat-icon fontIcon="add_task"></mat-icon>
        <span>&nbsp;&nbsp;Nova Query</span>
      </button>
    </div>
  </div>
  <div class="content">
    <div>
      <table [dataSource]="data.items" mat-table>
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell>
            <i class="eva eva-2x eva-more-horizontal"></i>
          </th>
          <td *matCellDef="let element" mat-cell>
            <span *ngIf="element.status === 'WAITING_REVIEW'" matTooltip="Aguardando aprovação">
              <i class="eva eva-2x eva-person-done-outline"></i>
            </span>
            <span *ngIf="element.status === 'APPROVED'" matTooltip="Aguardando execução">
              <i class="eva eva-2x eva-clock-outline"></i>
            </span>
            <span *ngIf="element.status === 'REJECTED'" matTooltip="Rejeitada">
              <i class="eva eva-2x eva-person-delete-outline"></i>
            </span>
            <span *ngIf="element.status === 'EXECUTING'" matTooltip="Executando">
              <i class="eva eva-2x eva-repeat-outline"></i>
            </span>
            <span *ngIf="element.status === 'DONE'" matTooltip="Executada com sucesso">
              <i class="eva eva-2x eva-checkmark-outline"></i>
            </span>
            <span *ngIf="element.status === 'ERROR'" matTooltip="Falha na execução">
              <i class="eva eva-2x eva-close-outline"></i>
            </span>
          </td>
        </ng-container>

        <!-- Requester Column -->
        <ng-container matColumnDef="requester">
          <th *matHeaderCellDef mat-header-cell>Solicitante</th>
          <td *matCellDef="let element" mat-cell>
            <shared-user-details [user]="element.requester"></shared-user-details>
          </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th *matHeaderCellDef mat-header-cell>Titulo</th>
          <td *matCellDef="let element" mat-cell>{{element.title | truncate:[20]}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>Descrição</th>
          <td *matCellDef="let element" mat-cell>{{element.description | truncate:[65]}}</td>
        </ng-container>

        <!-- Connection Column -->
        <ng-container matColumnDef="connection">
          <th *matHeaderCellDef mat-header-cell>Conexão</th>
          <td *matCellDef="let element" mat-cell>
            <a href="/connections/{{ element.connection?.id }}">{{ element.connection?.name }}</a>
          </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="more">
          <th *matHeaderCellDef mat-header-cell>
            <mat-icon aria-hidden="false" aria-label="More" fontIcon="more_horiz"></mat-icon>
          </th>
          <td *matCellDef="let element" mat-cell>
            <button mat-icon-button routerLink="/queries/{{ element.id }}">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
      </table>
      <mat-paginator (page)="onPage($event)"
                     [length]="data.total"
                     [pageIndex]="data.page - 1"
                     [pageSize]="data.limit"
                     aria-label="Update list page"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
