<div class="section">
  <div class="header">
    <div class="title">
      Recentes
    </div>
    <div class="extra">
      <button mat-raised-button routerLink="/queries/create">
        <mat-icon fontIcon="add_task"></mat-icon>
        <span>&nbsp;&nbsp;Nova Query</span>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data.items">
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon aria-hidden="false" aria-label="Status" fontIcon="more_horiz"></mat-icon>
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.status === 'WAITING_REVIEW'">
              <mat-icon aria-hidden="false" fontIcon="how_to_reg"
                        matTooltip="Aguardando aprovação"
                        aria-label="Aguardando aprovação"
              ></mat-icon>
            </span>
            <span *ngIf="element.status === 'APPROVED'">
              <mat-icon aria-hidden="false" fontIcon="hourglass_empty"
                        matTooltip="Aguardando execução"
                        aria-label="Aguardando execução"
              ></mat-icon>
            </span>
            <span *ngIf="element.status === 'REJECTED'">
              <mat-icon aria-hidden="false" fontIcon="close"
                        matTooltip="Rejeitada"
                        aria-label="Rejeitada"
              ></mat-icon>
            </span>
            <span *ngIf="element.status === 'EXECUTING'">
              <mat-icon aria-hidden="false" fontIcon="cycle"
                        matTooltip="Executando"
                        aria-label="Executando"
              ></mat-icon>
            </span>
            <span *ngIf="element.status === 'DONE'">
              <mat-icon aria-hidden="false" fontIcon="check"
                        matTooltip="Executada com sucesso"
                        aria-label="Executada com sucesso"
              ></mat-icon>
            </span>
          </td>
        </ng-container>

        <!-- Requester Column -->
        <ng-container matColumnDef="requester">
          <th mat-header-cell *matHeaderCellDef>Solicitante</th>
          <td mat-cell *matCellDef="let element">
            <shared-user-details [user]="element.requester"></shared-user-details>
          </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titulo</th>
          <td mat-cell *matCellDef="let element">{{element.title | truncate:[20]}}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let element">{{element.description | truncate:[65]}}</td>
        </ng-container>

        <!-- Connection Column -->
        <ng-container matColumnDef="connection">
          <th mat-header-cell *matHeaderCellDef>DataSource</th>
          <td mat-cell *matCellDef="let element">
            <a href="/connections/{{ element.connection?.id }}">{{ element.connection?.name }}</a>
          </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon aria-hidden="false" aria-label="More" fontIcon="more_horiz"></mat-icon>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button routerLink="/queries/{{ element.id }}">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSize]="data.limit"
                     [pageIndex]="data.page - 1"
                     (page)="onPage($event)"
                     [length]="data.total"
                     showFirstLastButtons
                     aria-label="Update list page">
      </mat-paginator>
    </div>
  </div>
</div>
