table {
  width: 100%;
}

.mat-column-more {
  width: 32px;
  text-align: center;
}

.add-button {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
}
