<h1 mat-dialog-title>
  {{ existing ? 'Editar Usuário' : 'Novo Usuário' }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input type="text" matInput formControlName="email">
    </mat-form-field>

    <mat-form-field *ngIf="!existing" appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="existing">
      <mat-label>Situação</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let uStatus of userStatus" [value]="uStatus">{{ uStatus }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Salvar</button>
</div>
